html,
body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

/* Header  */

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .nav-link {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .text-custom {
    padding-right: 3rem;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .navbar-collapse {
    margin-right: 150px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-bar-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .me-auto {
    margin-right: 0% !important;
  }

  .nav-item {
    font-size: 20px !important;
  }

  .talent-slider {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .navbar-nav {
    font-size: 12px;
    /* margin-right: 260px; */
  }
  .navbar-expand-lg .navbar-collapse {
    margin-right: 260px;
  }

  .talent-slider {
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* Section 1  */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section-1 {
    padding: 12px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .section-1 {
    padding-left: 90px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1300px) {
  .section-1 {
    padding-left: 40px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1500px) {
  .section-1 {
    padding-left: 75px;
  }
}

/* Section 2  */

@media only screen and (max-width: 768px) {
  .section-2-p {
    font-size: 12px;
    text-align: center;
  }

  .read-more {
    padding: 25px;
  }
}

/* Section 3  */

@media only screen and (max-width: 768px) {
  .testi-p {
    font-size: 12px;
  }

  .avatar {
    width: 90px;
    height: 90px;
  }

  .avatar-h4 {
    padding-left: 11px !important;
    color: var(--mainorange);
  }

  .left-card {
    height: 350px;
  }

  .work-for-us-row {
    padding: 0 !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 800px) {
  .cont-work4us {
    padding: 25px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .work-for-us-row {
    padding: 0 !important;
  }
}

/* Section 4  */

@media only screen and (max-width: 768px) {
  .section-4 {
    padding-bottom: 0;
  }

  .insight-pic {
    width: 100%;
    height: 102%;
    display: block;
    padding: 20px;
  }

  .overlay {
    width: 95%;
    height: 100%;
  }

  .over-title {
    font-size: 10px;
  }

  .over-desc {
    font-size: 10px;
  }

  .overlay > * {
    transform: translateY(30px);
    transition: transform 0.25s;
  }
}

@media only screen and (min-width: 768px) and (max-width: 800px) {
  .cont-latest-in {
    padding: 34px;
  }

  .overlay {
    width: 81%;
    height: 86%;
    top: 18px;
    left: 31px;
  }

  .overlay:hover > * {
    transform: translateY(34px);
  }
}

@media only screen and (min-width: 1280px) {
  .overlay {
    width: 88%;
    height: 88%;
    top: 14px;
    left: 13px;
  }

  h3 {
    font-size: 1.5rem;
  }

  .overlay:hover > * {
    transform: translateY(20px);
    font-size: 12px;
  }

  .insight-pic {
    width: 100%;
    height: 100%;
    display: block;
    padding: 15px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1300px) {
  .test-test {
    width: 285px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .test-test {
    width: 240px;
  }

  .overlay {
    width: 95%;
  }

  .overlay:hover > * {
    transform: translateY(20px);
    font-size: 12px;
  }
  .vl {
    left: 41%;
    bottom: -2095px;
  }

  h3 {
    font-size: 1rem;
  }
}
/* Footer  */

@media only screen and (max-width: 768px) {
  .social-icon {
    padding: 0px;
    margin-left: auto;
    padding-left: 24px;
  }

  .footer-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-icon {
    font-size: 30px;
  }
  .contact-us {
    font-size: 10px;
    padding-top: 30px;
  }

  .contact-us-h3 {
    font-size: 20px;
  }

  .vl {
    border-left: 0;
  }

  .map-icon {
    padding-left: 50px;
  }

  .get-in-icon {
    padding-left: 40px;
  }

  .row-get-social {
    flex-wrap: unset;
    padding-right: 120px;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .vl {
    bottom: -2680px;
  }

  .row-get-social {
    padding-right: 250px;
  }
}

@media only screen and (min-width: 1440px) {
  .vl {
    bottom: -2595px;
  }

  .row-get-social {
    padding-right: 267px;
  }
}

@media only screen and (min-width: 1500px) {
  .vl {
    bottom: -2500px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .map-icon {
    padding-left: 50px;
  }

  .get-in-icon {
    padding-left: 53px;
  }
}
